/* default style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout style  */

.flex {
    border: 5px solid rgb(91, 47, 248);
    margin: 10px;
}

.box {
    border: 4px solid rgb(37, 158, 214);
    background-color: rgba(93, 182, 255, 0.767);
}

/* play with the code below */

.flex {
    height: 500px;
    display: flex;
    /* flex-direction: row; */
    /* flex start and flex end depends on writing mode */
    /* writing-mode: vertical-lr; */
    align-items: flex-start;
    /* align content works if flex-wrap: wrap;*/
    align-content: flex-start;
    /* flex-wrap: no-wrap; */
    /* gap: 2rem; */
    /* flex-wrap: wrap; */
}

.box {
    /* flex-grow: 1; */
    width: 100px;
    height: 100px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: auto; means flex basis = width flex basis is more prioritized than width*/
    flex-basis: 200px;
}

.box:nth-child(2) {
    /* height: 100px;
    width: 100px; */
    /* flex: 1 1 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 50px; */
    flex-basis: 0px;
    /* flex-basis: 200px; */
    margin-right: auto;
}

.box {
    /* default style   */
    /* flex-grow: 0; */
    /* shrinks the box width  */
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
}
