body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.753);
}

.flexbox-container {
    /* height: 700px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    /* align-content for multiline flexbox containers -- properties are similar to justify-content*/
    /* align-content: center; */
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(226, 226, 226);
}

.flexbox-item-1 {
    /* flex: 1 0 0; */
    /* grow shrink basis */
    min-height: 100px;
    /* flex-shrink: 0; */
    /* order: 2; */
}
.flexbox-item-2 {
    min-height: 200px;
    /* flex grow will take all the extra space in a container */
    /* flex-grow: 2; */
    /* flex basis 0 will give exactly flex grow 2 twice the size of flex grow 1*/
    /* flex-basis: 0; */
    /* align self overrides align items */
    /* align-self: center; */
    /* order: 3; */
}
.flexbox-item-3 {
    min-height: 300px;
    /* flex-grow: 1; */
    /* flex-basis: 0; */
    /* order not recommended for screen readers/Acessebility concerns*/
    /* order: 1; */
}
